<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

if [[ ! -e "$TM_FILEPATH" ]]; then
  exit_show_tool_tip "There is no file on disk"
fi

if diff --strip-trailing-cr --label "$TM_FILENAME (saved version)" --label "(current document)" -u "$TM_FILEPATH" -; then
  exit_show_tool_tip "There are no differences."
fi
</string>
	<key>input</key>
	<string>document</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^@D</string>
	<key>name</key>
	<string>Document With Saved Copy</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>semanticClass</key>
	<string>diff.document</string>
	<key>uuid</key>
	<string>0979659D-126E-467F-AC07-599979A42D67</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
