<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

# set utf-8 as the default encoding (used by opendiff)
export __CF_USER_TEXT_ENCODING=$UID:0x8000100:0x8000100

eval arr=("$TM_SELECTED_FILES")
if [[ ${#arr[@]} == 2 ]];
   then ${TM_OPENDIFF:-opendiff} "${arr[0]}" "${arr[1]}"
   else echo -e "You need to select exactly two\nfiles in the project drawer."
fi
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^@D</string>
	<key>name</key>
	<string>Merge Selected Files…</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>toolTip</string>
    <key>requiredCommands</key>
    <array>
    	<dict>
    		<key>command</key>
    		<string>opendiff</string>
    		<key>locations</key>
    		<array>
    			<string>/usr/bin/opendiff</string>
    		</array>
    		<key>variable</key>
    		<string>TM_OPENDIFF</string>
    	</dict>
    </array>
	<key>semanticClass</key>
	<string>diff.files</string>
	<key>uuid</key>
	<string>239E196A-7106-4DC9-8FAE-0A9CA7540AFA</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
