<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

egrep -v '^(\+\+\+|---) '|\
  tee &gt;(add=$(grep ^+|wc -l);  echo 1&gt;&amp;2 "Lines Added   $add") \
     |{ rem=$(grep ^-|wc -l); wait; echo "Lines Removed $rem"; }
</string>
	<key>input</key>
	<string>document</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^N</string>
	<key>name</key>
	<string>Statistics (Lines Added/Removed)</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>toolTip</string>
	<key>scope</key>
	<string>source.diff</string>
	<key>semanticClass</key>
	<string>diff.document</string>
	<key>uuid</key>
	<string>B9091553-4317-415E-B381-4609BD453E01</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
